
/* .slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #202020;
  -webkit-font-smoothing: antialiased;
} */

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 100%;
  height: 50%;

}

.card{
  max-width: 250px;
  max-height: 350px;
  margin: 1rem;
  /* text-align: center; */
  font-family: arial;
  border-radius: 0%
}

.card span{
  margin: 4%;
}

.price {
  color: grey;
  /* font-size: 22px; */
}

/* .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

.card button:hover {
  opacity: 0.7;
}


/* Featured New Cars */
.topHeading{
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 55px;
}




/* Rectangle 22 */
.slidContainer{
position: absolute;
width: 1440px;
height: 670px;
left: calc(50% - 1440px/2);
background: rgba(4, 115, 234, 0.3);
opacity: 0.17;
}

.SliderComp{
width: 100%;
background-color: #b4c7db4d ;
}

.Slidwrap{
margin: 0 45px;

}


.textbotm{
text-align: right;
font-family: "Poppins";
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: #0473EA;

}